/* CONTAINER 2 É DO LOGIN */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    font-family: 'Inter', sans-serif;
}


.container2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container2 .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
  }

  