#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
    height: 65px;
    display: flex;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    margin-left: 100px;
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: #000000;
}

#tabela{
    width:100%;
    border:solid 1px;
    text-align:left;
    border-collapse:collapse; 
}
 
#tabela tbody tr{
    border:solid 1px;
    height:30px;
    cursor:pointer;
}
 
#tabela thead{
    background:beige;
}
 
#tabela thead th:nth-child(1){
    width:100px;
}
 
#tabela input{
    color:navy;
    width:100%;
}

.btn-cli{
    margin-right: 15px;
}

